	<!--====== Banner Area Start ======-->
	<section class="banner-section">
        <% for(let i =0; i < 1; i++){ %>
		<div class="banner-slider">
			<div class="sinlge-banner">
				<div class="banner-wrapper">
					<div class="banner-bg" style="background-image: url(assets/img/banner/01.jpg);"></div>
					<div class="banner-content" data-animation="fadeInUp" data-delay="0.3s">
						<h3 class="title" data-animation="fadeInUp" data-delay="0.6s">
							<a href="#">
								<%= articles[i].title %>
							</a>
						</h3>
						<ul class="meta" data-animation="fadeInUp" data-delay="0.8s">
							<li><a href="#">By - Zhon Smith</a></li>
							<li><a href="#">Travel,</a><a href="#">Design,</a><a href="#">Nature</a></li>
						</ul>
						<p data-animation="fadeInUp" data-delay="1s">
							<%= articles[i].content %>
						</p>
						<a href="blog-details.html" class="read-more" data-animation="fadeInUp" data-delay="1.2s">
							Read More <i class="fas fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
        <%}%>


        <section class="post-area with-sidebar" id="postWarpperLoaded">
            <div class="container container-1250">
                <div class="post-area-inner">
                    <div class="entry-posts two-column masonary-posts row">
                        <% articles.map((blog)=>{%>
                        <div class="col-lg-6 col-sm-6">
                            <div class="entry-post">
                                <div class="entry-thumbnail">
                                    <img src="assets/img/posts/01.jpg" alt="Image">
                                </div>
                                <div class="entry-content">
                                    <h4 class="title">
                                        <a href="blog-details.html">
                                            <%= blog.title %>
                                        </a>
                                    </h4>
                                    <ul class="post-meta">
                                        <li class="date">
                                            <a href="#"> <%= blog.createdAt %></a>
                                        </li>
                                        <li class="categories">
                                            <a href="#">Design,</a>
                                            <a href="#">Travel,</a>
                                            <a href="#">photography,</a>
                                            <a href="#">Nature</a>
                                        </li>
                                    </ul>
                                    <p>
                                        <%= blog.content%>
                                    </p>
                                    <a href="blog-details.html" class="read-more">
                                        Read More <i class="fas fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <%})%> 
    
                        <div class="col-12">
                            <div class="text-center">
                                <a href="#" class="load-more-btn">Load More</a>
                            </div>
                        </div>
                    </div>
                    <div class="primary-sidebar clearfix">
                        <div class="sidebar-masonary row justify-content-center">
                            <div class="col-lg-12 col-md-6 col-sm-8 widget categories-widget">
                                <h5 class="widget-title">Categoriesr</h5>
                                <div class="categories" style="height:max-content">
                                    <div class="categorie">
                                        <div class="col-12">
                                            <div class="text-center ">
                                                <a href="#" class="btn btn-dark" >Business</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="categorie">
                                        <div class="col-12">
                                            <div class="text-center">
                                                <a href="#" class="btn btn-dark">Fashion</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-8 widget social-widget">
                                <h5 class="widget-title">Subscribe</h5>
                                <div class="social-links">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>Facebook
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>Twitter
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>Instagram
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>YouTube
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-pinterest-p"></i>Pinterest
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-8 widget popular-articles">
                                <h5 class="widget-title">Popular Articles</h5>
                                <div class="articles">
                                    <div class="article">
                                        <div class="thumb">
                                            <img src="/img/sidebar/articles/01.jpg" alt="Image">
                                        </div>
                                        <div class="desc">
                                            <h6><a href="blog-details.html">Best Wordpress Theme of 2018</a></h6>
                                            <span class="post-date">Audust 23, 2015</span>
                                        </div>
                                    </div>
                                    <div class="article">
                                        <div class="thumb">
                                            <img src="/img/sidebar/articles/02.jpg" alt="Image">
                                        </div>
                                        <div class="desc">
                                            <h6><a href="blog-details.html">Dating While Studying Abroad—Maximize Fun
                                                    Minimize Heartbreak</a></h6>
                                            <span class="post-date">Audust 23, 2015</span>
                                        </div>
                                    </div>
                                    <div class="article">
                                        <div class="thumb">
                                            <img src="/img/sidebar/articles/03.jpg" alt="Image">
                                        </div>
                                        <div class="desc">
                                            <h6><a href="blog-details.html">Nature Photography Best Place Focus</a></h6>
                                            <span class="post-date">Audust 23, 2015</span>
                                        </div>
                                    </div>
                                    <div class="article">
                                        <div class="thumb">
                                            <img src="/img/sidebar/articles/04.jpg" alt="Image">
                                        </div>
                                        <div class="desc">
                                            <h6><a href="blog-details.html">Best Wordpress Theme of 2018</a></h6>
                                            <span class="post-date">Audust 23, 2015</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-8 widget ad-widget">
                                <img src="/img/sidebar/ad.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		

	</section>